<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Product\View" type="Thienminh\Training\Block\Catalog\Product\View" />
    <type name="Thienminh\Training\Controller\Index\Example">
        <plugin name="thienmih_training_plugin" type="Thienminh\Training\Plugin\ExamplePlugin" sortOrder="1" disabled="false"/>
    </type>
</config>