//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

  //  __________________ global ___________________
  .page-main {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .navigation {
    background: @_nav-background-color !important;
    margin: -12px 0 0 386px !important;

    & .level0 {
      margin: 0 18px 0 0 !important;
    }
  }
  .panel.wrapper {
    position: relative;
    z-index: 2;
    padding-bottom: 6px;
  }
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

}

//
//  Desktop & mobile
//  _____________________________________________


//
//  Style-m
//  _____________________________________________
& when (@media-common = true) {
  //  __________________ global ___________________
  body {
    font-family: 'Rubik', sans-serif;
  }

  //  __________________top header_________________
  .panel.header {
    font-size: @font-size-small;
  }

  .header-text {
    float: left;
    margin-top: 5px;
  }

  .header-text span {
    letter-spacing: 0.45px;
    margin-right: 24px;
  }

  .header-text span i {
    margin-right: 10px;
  }

  .header-link {
    color: #575f65;
    float: right;
    font-size: 13px;
    letter-spacing: 8px;
    margin: 4px 21px 0 0;
  }

  .header-link a {
    color: @color-text-grey;
  }

  .search-and-cart {
    position: absolute;
    right: 10px;
    background: red;
    top: 17px;
    z-index: 4;
  }

  //  __________________Slider_________________
  .slider-wrap img {
    position: absolute;
    top: 0;
  }

  h1.slider-title {
    margin: 151px 0 0 0;
    font-size: 90px;
    font-weight: 300;
  }

  .slider-description {
    margin: 23px 0 0 0;
    font-size: 18px;
    width: 51%;
    line-height: 30px;
  }

  .slider-button {
    margin-top: 58px;
    letter-spacing: 26px;
    margin-bottom: 20%;
  }

  .slider-button a {
    text-decoration: none;
    padding: 21px 43px;
    background-color: @color-primary-green;
    color: @color-white;
    font-weight: 500;
    letter-spacing: .3px;

    &:nth-child(2) {
      background-color: @color-primary-yellow;
    }

    &:hover {
      background-color: @color-primary-yellow;
    }
  }

  .logo img {
    margin: 7px 0 0 34px;
  }
}